<h1>Artists</h1>

<table>
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "created_at", "New" %></th>
  </tr>
  <% @artists.each do |artist|%>
    <tr>
      <td><%= link_to artist.name, artist %></td>
    </tr>
  <% end %>
</table>
